@charset "UTF-8";

/* Todas as demais midias */

/* Typical Device Breakpoints

Pequenas Telas: até 600px
Celular: de 320px até 480px
Tablet:  de 768px até 992px
Desktop: de 1025px até 1200px
Grandes telas acima de 1201px
*/

@media print { /* Impressão */
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    
    body {
            background-image: url(../imagens/back-tv.jpg); /* Desnecessário*/
    }

    main {
        border: 2px solid black;
        height: 60vh;
        font-size: 2em;
    }

    main::after {
        content: "Essa impressão foi feita através do site cursoemvideo.com";
        text-decoration: underline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    h2::before {
        content: "Versão Impressora";
        padding: 10px;
        color: white;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.842);
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }
}



@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    h2::before {
        content: "Versão Tablet";
        padding: 10px;
        color: white;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.842);
      }
      

    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desktop */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    h2::before {
        content: "Versão Pc";
        padding: 10px;
        color: white;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.842);
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }
}

@media screen and (min-width: 1201px) {  /* Grandes Telas */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    h2::before {
        content: "Versão Tv";
        padding: 10px;
        color: white;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.842);
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }
}